<nav class="bg-green-200 p-4 shadow-md">
  <div class="container mx-auto flex justify-between items-center">
    <a href="/" class="text-green-800 text-xl font-bold">Carbon Tracker</a>
    <ul class="flex space-x-4">
      {{#if user}}
        <li><a href="/dashboard" class="text-green-700 hover:underline">Dashboard</a></li>
        <li><a href="/emission-form" class="text-green-700 hover:underline">Add Emissions</a></li>
        <li><a href="/update" class="text-green-700 hover:underline">Update Profile</a></li>
        <li><a href="/feedback" class="text-green-700 hover:underline">Feedback</a></li>
        <li><a href="/logout" class="text-green-700 hover:underline">Logout</a></li>
      {{else}}
        <li><a href="/login" class="text-green-700 hover:underline">Login</a></li>
        <li><a href="/register" class="text-green-700 hover:underline">Register</a></li>
        <li><a href="/feedback" class="text-green-700 hover:underline">Feedback</a></li>
      {{/if}}
    </ul>
  </div>
</nav>
