<!-- views/dashboard.hbs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title> Dashboard </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/built.css">
</head>
<body>
  <header>
    <h1 class = "text-1xl font-bold mb-4">Welcome to Your Dashboard, {{user.username}}!</h1>
  </header>



<div class="container mx-auto p-6">
  <h1 class="text-2xl font-bold mb-4">Your Emission Entries</h1>

  <ul class="space-y-4">
    {{#each entries}}
    <li class="p-4 bg-white shadow rounded-lg">
      <h2 class="text-lg font-bold">Date: {{this.date}}</h2>
      <p>Total Emissions: 
        <tr>
  <td>Total Emissions</td>
  <td>{{totalEmissions}} kg of CO2</td>
</tr>

      <a href="/dashboard/entry/{{this._id}}" class="text-blue-500 hover:underline">View Details</a>
    </li>
    {{/each}}
  </ul>
</div>

</body>
</html>
