<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/built.css">
  <title>{{title}}</title>
</head>
<body>
  <header>
    <h1>{{message}}</h1>
  </header>


  <main>
    <section>
      <h2 class = "text-1xl font-bold mb-4">About This App</h2>
      <p>This application helps you calculate and track your carbon emissions based on your daily activities. By understanding your carbon footprint, you can make more environmentally conscious choices.</p>
    </section>
  </main>

</body>
</html>
