<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  <form action="/login" method="POST">
    <label>Username:</label>
    <input type="text" name="username" required>
    <label>Password:</label>
    <input type="password" name="password" required>
    <button type="submit">Login</button>
  </form>
 <a href="/auth/apple">
    <button>Sign up with Apple</button>
</a>
<a href="/auth/facebook">
    <button>Sign up with Facebook</button>
</a>
<a href="/auth/google">
    <button>Sign up with Google</button>
</a>
</body>
</html>
