<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/built.css">
    <script src="/js/emissionform.js"></script>
</head>
<body>
    {{> navbar}}
    {{{body}}}
</body>
</html>
